*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: #222f3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 40rem;
}

.square{
    background-color: #576574;
    margin: .2rem;
    height: 1.6rem;
    width: 1.6rem;
    box-shadow: 0 0 .2rem #000;
    transition: 1.8s ease;
}

.square:hover{
    transition-duration: 0s;
}